{% extends 'base.html' %} {% block content %}
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <p style="text-align: left">LOcalH-System</p>
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Set New Password</h1>
            <p class="account-subtitle">
              Enter and confirm your new password below.
            </p>

            {% if messages %} {% for message in messages %}
            <div
              class="alert alert-{{ message.tags }} alert-dismissible fade show"
              role="alert"
            >
              {{ message }}
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %} {% endif %}

            <form method="POST">
              {% csrf_token %} {{ form.non_field_errors }}
              <div class="form-group">
                {{ form.new_password1.errors }} {{ form.new_password1 }}
              </div>
              <div class="form-group">
                {{ form.new_password2.errors }} {{ form.new_password2 }}
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
