{% extends 'base.html' %}
{% block content %}
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <p style="text-align: left;">LOcalH-System</p>
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Password Reset Email Sent</h1>
            <p class="account-subtitle">
              We've emailed you instructions to reset your password. If an account exists with the email you entered, you'll receive it shortly.
            </p>
            <p class="account-subtitle">
              If you don't see the email, check your spam folder or ensure you used the email you registered with.
            </p>
            <div class="text-center dont-have mt-4">
              <a href="{% url 'doLogin' %}" class="btn btn-primary">Return to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
