{% extends 'base.html' %}

{% block content %}
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <p style="text-align: left;">LOcalH-System</p>
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Password Reset Complete</h1>
            <p class="account-subtitle">
              Your password has been successfully set. You may now log in.
            </p>
            <div class="text-center dont-have">
              <a href="{% url 'doLogin' %}" class="btn btn-primary">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
